{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<title>Cart - D&M Artistry</title>
<head>
<link rel="stylesheet" href="{% static 'css/empty_cart.css' %}">
</head>
<div class="full-page">
    <div class="empty-cart-content">
        <h2>Your Cart is Empty</h2>
        <p>It looks like you don't have any items in your cart. Please add items to your cart before proceeding.</p>
        <a href="{% url 'product_list' %}" class="btn btn-primary mt-3">Continue Shopping</a>
    </div>
</div>

{% endblock %}

