{% extends 'shop/base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block content %}
<!-- Link to the custom CSS for styling -->
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">

<div class="about-page">
    <div class="about-container">
        <h2>About Us</h2>
        <div class="about-content">
            <h2>Welcome to D&M Artistry, where our passion for art comes to life in every piece we showcase!</h2>

            <div class="about-image-container">
                <img src="{% static 'images/about.jpg' %}" alt="About Us" class="about-image">
            </div>
            <p>
                At D&M Artistry, we proudly display a diverse collection of art, celebrating both our creations and those of other artists.<br>Art inspires and moves us, and we're excited to share our journey with you.
            </p>
           
            <h3>Our Vision</h3>
            <p>We curate a unique collection of artworks that captivate and inspire. From stunning paintings to intricate sculptures and innovative digital art, our gallery is a canvas where creativity flourishes.</p>

            <h3>What We Offer</h3>
            <ul>
                <li><strong>Our Artworks:</strong> Discover original pieces created by our talented team, showcasing our artistic vision and craftsmanship.</li>
                <li><strong>Showcase Your Talent:</strong> We support emerging artists by offering opportunities to feature your work.</li>
                <li><strong>Artistic Inspiration:</strong> Find that perfect piece that speaks to you, whether from our collection or others.</li>
            </ul>

            <h3>Join Us on a Journey of Artistic Discovery</h3>
            <p>Experience art where every piece tells a story and captures a moment. At D&M Artistry, immerse yourself in creativity and be part of a community that celebrates artistic brilliance.</p>

            <p>Embrace the beauty of art and let it inspire you. At D&M Artistry, every visit is a celebration of creativity and artistic expression.</p>

            <h3>The Creators</h3>
            <p>We are two artists who discovered our passion for art after completing our college studies.<br>
                While our formal education was in other fields, art became a profound interest for us later on.<br>Combining our love for creativity, we created this platform to share our artistic journey and showcase the beauty of art.</p>
            
            <div class="social-media-links">
                <h3>Deena Kamal</h3>
                <a href="https://github.com/deenakamal" target="_blank">
                    <img src="{% static 'images/github-icon.png' %}" alt="GitHub" class="social-icon">
                </a>
            </div>
            <div class="social-media-links">
                <h3>Maha Kamal</h3>
                <a href="https://github.com/mahakamal-e" target="_blank">
                    <img src="{% static 'images/github-icon.png' %}" alt="GitHub" class="social-icon">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
