{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Home - D&M Artistry{% endblock %}

{% block content %}
<section class="carousel">
    <div class="carousel-container">
        <!-- Slide 1: September discount -->
        <div class="slides fade">
            <img src="{% static 'images/slider_img1.png' %}" alt="Special Offer">
            <div class="carousel-text">
                <h1>To look at art is to fall in love</h1>
                <h6>Paul Gauguin</h6>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="shop-now">My Profile</a>
                {% else %}
                    <a href="{% url 'register' %}" class="shop-now">Sign Up Now</a>
                {% endif %}
            </div>
        </div>
        <!-- Slide 2: Discover Artworks -->
        <div class="slides fade">
            <img src="{% static 'images/slider_img2.png' %}" alt="Art Sale">
            <div class="carousel-text">
                <h1>Discover Stunning Artworks!</h1>
                <a href="{% url 'product_list' %}" class="shop-now">Explore</a>
            </div>
        </div>
        <!-- Carousel navigation -->
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
</section>

<!-- Featured Artworks Section -->
<section class="featured-artworks">
    <h2>Our Artworks</h2>
    <div class="product-grid">
        {% for product in products|slice:":3" %}
        <div class="single-product-item">
            <div class="product-image-container">
                <a href="{% url 'product_detail' product.id %}" class="product-link">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
                <!-- Quick Review Overlay -->
               
            </div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            
            {% if user.is_authenticated %}
            <a class="buy-now-button" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
            {% else %}
            <a class="buy-now-button" href="{% url 'add_to_cart_anon' product.id %}">Add to Cart</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'product_list' %}" class="view-more-btn">View More</a>
</section>


<section class="categories">
    <h2>Explore Our Categories</h2>
    <div class="category-grid">
        {% for category in categories|slice:":4" %}
        <div class="category-item">
            <a href="{% url 'product_list' %}?category={{ category.id }}">
                {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="{{ category.name }}">
                {% endif %}
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>


<!-- Latest Art Events Section -->
<section class="latest-events">
    <!-- Title positioned above the section -->
    
    
    <div class="events-grid">
        <!-- Large event item containing the image -->
        <div class="single-event-item large-event">
            <img src="{% static 'images/events_img.png' %}" alt="New Events" class="event-image">
        </div>
        <!-- Button placed below the image -->
       
    </div>
</section>

<section class="contact-us">
    <div class="contact-content">
      <h2>Have a Question?</h2>
      <p>You can directly contact us or leave us a message.</p>
      <div class="video-container">
        <video autoplay muted loop playsinline>
          <source src="{% static 'videos/contact us.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <a href="{% url 'contact' %}" class="contact-button">
        <i class="fas fa-envelope icon"></i> Contact
      </a>
    </div>
  </section>
  

  




{% endblock %}

{% block scripts %}

{% endblock %}

